includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max

	paths:
		- src/

	excludePaths:
		- ./src/class-convert-to-blocks-command.php
